@font-face {
  font-family: "Circe";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/circe-regular.ttf) format("truetype");
}

@font-face {
  font-family: "DINPro";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/DINPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DINPro-Medium";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/DINPro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "DINPro-Bold";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/DINPro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/Gilroy-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/Gilroy-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/Gilroy-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url(https://sphaerista.github.io/onpoint_test/fonts/Gilroy-Extrabold.ttf) format("truetype");
}
